# Server Configuration
PORT=5000

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/vimo

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=daptfl7az
CLOUDINARY_API_KEY=718149852148387
CLOUDINARY_API_SECRET=G6LW4eU6cpyqwxTmdPYfOuHck7o